<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AnalisisDisrupciones.Properties.Settings.ConnectionString"
            connectionString="Dsn=ConeccionVuelosAtrasos" providerName="System.Data.Odbc" />
    </connectionStrings>
</configuration>