<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="InterfazSimuLAN.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="itin_dir"  value="C:\Users\Rodolfo\PUC\postgrado\SimuLAN2\IO\" />
    <add key="params_dir"  value="C:\Users\Rodolfo\PUC\postgrado\SimuLAN2\IO\input"  />
    <add key="curvas_dir"  value="C:\Users\Rodolfo\PUC\postgrado\SimuLAN2\IO\input\Curvas" />
    <add key="wxs_dir"  value="C:\Users\Rodolfo\PUC\postgrado\SimuLAN2\IO\input\Curvas" />    
    <add key="output_dir"  value="C:\Users\Rodolfo\Desktop\AnalisisSimuLAN" />
    <add key="itin_file"  value="C:\Users\Rodolfo\Desktop\AnalisisSimuLAN\LOW 5° bup LIM.xls" />
    <add key="params_file"  value="C:\Users\Rodolfo\Desktop\AnalisisSimuLAN\ParametrosEscenarios.xls"  />
    <add key="wxs_file"  value="C:\Users\Rodolfo\PUC\postgrado\SimuLAN2\IO\input\historicos_wxs.xls" />
    <add key="curvas_file"  value="C:\Users\Rodolfo\Desktop\AnalisisSimuLAN\Curvas.xls" />
    <add key="connectionString" value="Data Source=RODOLFO-PC\SQLEXPRESS;Initial Catalog=SimuLAN;Integrated Security=SSPI"/>
    <add key="replicas" value="20"  />
    <add key="semilla" value="1"  />
    <add key="gap" value="12"  />
    <add key="minutosBackup" value="15"  />
    <add key="toleranciaRecovery" value="15" />
    <add key="toleranciaTurnos" value="45"  />
    <add key="minConex" value="55"  />
    <add key="maxConex" value="180" />
    <add key ="stds" value = "0;15;30;60"/>
    <add key ="check_output_dir" value = "true"/>
    <add key ="check_r1" value = "true"/>
    <add key ="check_r2" value = "true"/>
    <add key ="check_r3" value = "true"/>
    <add key ="check_r4" value = "true"/>
    <add key ="check_r5" value = "true"/>
    <add key ="check_r6" value = "true"/>
    <add key ="check_r7" value = "true"/>
    <add key ="check_r8" value = "true"/>
    <add key ="check_r9" value = "true"/>
    <add key ="check_r10" value = "true"/>
    <add key ="check_r11" value = "true"/>
    <add key ="check_g1" value = "true"/>
    <add key ="check_g2" value = "true"/>
    <add key ="check_g3" value = "true"/>
    <add key ="check_g4" value = "true"/>
    <add key ="check_g5" value = "true"/>
    <add key ="check_g6" value = "true"/>
    <add key ="check_g7" value = "true"/>
    <add key ="check_g8" value = "true"/>
    <add key ="check_g9" value = "true"/>
  </appSettings>
  <applicationSettings>
    <InterfazSimuLAN.Properties.Settings>
      <setting name="dir_input" serializeAs="String">
        <value />
      </setting>
    </InterfazSimuLAN.Properties.Settings>
  </applicationSettings>
</configuration>